name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Compile
        run: python -m py_compile 101.py
